div.main {
    width: 50%; margin: 0 auto;
    text-align: center;
    color: dimgray;
    font-family: 'Times New Roman', Times, serif;
}

table {
    table-layout: fixed;
    margin: 0 auto;
}

.hide {
    visibility: hidden;
}

.show {
    visibility: visible;
    color: red;
}

.format {
    visibility: visible;
}